.app-todo {
  max-width: 500px;
  margin: 0 auto;
  font-family: "Arial";
  font-size: 15px;
}

.todo-list-item:hover{
  cursor: pointer;
}

.done {
  font-style: italic;
}

.material-icons{
  color:black;
}