.app-todo {
  max-width: 450px;
  margin: 0 auto;
  font-family: "Arial";
  font-size: 15px;
}

.todo-list-item:hover{
  cursor: pointer;
}

.done {
  font-style: italic;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(148, 148, 148, 0.25);
}

.navbar{
  height: 50px;
}

